body
{
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #f2f2f2;
}

a
{
	text-decoration: none ! important; 
}

.mainBody
{
	margin-left:auto;
	margin-right: auto;
}
.topbar
{
	height:40px;
	background: #0404B4;
}

.topbaricon
{
	float:right;
	height:70%;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
}

.topbarprofiletext
{
	text-decoration: none;
	float: right;
	color: white;
	margin-top: 12px;
}

.password
{
	width:600px;
	height:400px;
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	border: solid 1px #bbb;
}
.side-nav{
  width:15%;
}

.side-nav ul{
  display: block;
  margin-top:5%;
  width: 15%;
}

.side-nav ul li {list-style: none}
.side-nav ul li a{display:inline-block; float: left;text-decoration:none;}
.CPheading
{
	margin:0px;
	padding:0px;
	font: 170% arial;
	color: #4F81BD; !important
}


.footer
{	background: #0404B4;
	margin-bottom:12px;
	height: 5px;
	width:100%;
	
}



.footerobject
{
	height:40%;
	width:25%;
	float:left;
	background: #0404B4;
	
}

.footerobject:hover
{
	color:#FF0000;
}

.footeritem
{
	font-size: 20px;
	color: white;
	background: #0404B4;
}
