body
{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #f2f2f2;
}

a
{
	text-decoration: none ! important; 
}

.mainBody
{
	margin-left:auto;
	margin-right: auto;
}

.topbar
{
	height:40px;
	background: #0404B4;
}

.topbaricon
{
	float:right;
	height:70%;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
}

.topbarprofiletext
{
	text-decoration: none;
	float: right;
	color: white;
	margin-top: 12px;
}
.side-nav{
  width:15%;
}

.side-nav ul{
  display: block;
  margin-top:5%;
  width: 15%;
}

.side-nav ul li {list-style: none}
.side-nav ul li a{display:inline-block; float: left;text-decoration:none;}
.main
{
	width:1200px;
	height:510px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}


.coursecontainer
{
	width:80%;
	height:100%;
	margin-left:17%;	
	border: solid 1px #bbb;
}

.courseheader
{
	margin-bottom:5%
	width:100%;
	height:15%;
	border-bottom: solid 1px #bbb;
}

.courseheadername
{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:30px;
	margin-right:30px;
	padding-top:10px;
	font: 170% arial;
	color: #4F81BD;
   overflow: hidden;
	max-height:28px;
}

.coursefacultyname
{
	margin-top:2px;
	margin-bottom:0px;
	margin-left:30px;
	margin-right:30px;
	padding:0;
	font: 150% arial;
	color: #666666;
}

.coursemain
{
	height:85%;
}

.optionlist
{
	height:90%;
	width:25%;
	margin-top:0;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	border-right: solid 1px #bbb;
}

.optionlistitem, .optionlistitem:hover, .optionlistitemselected
{
	height:12%;
	width: 100%;
	margin-top:5px;
	margin-bottom:5px;
	padding:0;
	border: solid 1px #bbb;
}

.optionlistitemselected
{
	background: pink;
}

.optionlistitem:hover, .optionlistitemselected:hover
{
	background: #ddd;
}

.itemlistname
{
	font: 150% arial;
	color: #4F81BD;
	margin-left:1%;
	margin-right:1%;
	margin-top:5%;
	margin-bottom:2%;
	padding: 0px;
}

.mainframe
{
	width:52%;
	height:90%;
	position:absolute;
	margin-left:20%;

}

.introdata
{
	color: black;
	font: 130% arial;
	padding:10px;
}

.formupload
{
	border: solid 1px #bbb;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:3px;
	padding:10px;
}

.labelfilename
{
	margin:0px;
	padding:0px;
	float:left;
}

.filetable
{
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
}

.filetable td, .filetable th
{
	border: solid 1px #bbb;
	padding:5px;
}

.filetablehead
{
	background: #29415D;
	color:white;
}

.addnotification
{
	width:92%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:0px;
	padding:7px;
}

.notificationtable
{
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
}

.notificationtable td, .notificationtable th
{
	border: solid 1px #bbb;
	padding:5px;
}

.notificationtablehead
{
	background: #29415D;
	color:white;
}

.footer
{	background: #0404B4;
	margin-bottom:12px;
	height: 5px;
	width:100%;
	
}



.footerobject
{
	height:40%;
	width:25%;
	float:left;
	background: #0404B4;
	
}

.footerobject:hover
{
	color:#FF0000;
}

.footeritem
{
	font-size: 20px;
	color: white;
	background: #0404B4;
}